services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"

  app:
      build: .
      ports:
        - "8000:8000"
      environment:
        - QDRANT_URL=${QDRANT_URL}
        - EMBEDDING_DIMENSION=${EMBEDDING_DIMENSION}
      depends_on:
        - qdrant